/* Styles for the Login React component */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .MuiButton-root.username-text{
      padding-top:50px;
      padding-bottom:50px;

  }
  .MuiButton-root.password-text{
      padding-top:50px;
      padding-bottom:50px;
  }
  
  
  
  .MuiButton-root.submit-button {
    width: 250px;
    height: 40px;
    margin: 10px;
  }