.createItinerary__h3  {
    text-transform:uppercase;
    font:30px sans-serif;
    color: #000000;
    text-align:center;
}

.createItinerary__body{
    padding-top: 80px;
    padding-bottom: 80px;
}

.create__Button{
    float: right;
}