/* Styles for the User React component */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.MuiAvatar-root.user-avatar{
    margin-bottom: 30px;
    margin-top: 30px;
    left: 48%;
    height: 90px;
    width: 90px;
}

.MuiAvatar-root.friend-avatar{
    margin-top: 30px;
    margin-bottom: 30px;
}

.MuiButtonGroup-root.user_button_group {
    display: flex;
    float: right;
    align-items: center;
}

.MuiButtonGroup-root.signout_button_group {
    margin-top: 5px;
    display: flex;
    float: right;
    align-items: center;
}

.MuiCardMedia-root.itinerary-image{
    height: 140px;
}

.MuiPaper-root.MuiAppBar-root.MuiAppBar-colorPrimary.user-appBar {
    background-color: #282c34;
}