/* Styles for the User React component */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.MuiAvatar-root.user-avatar{
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left:8px;
    left: 49%;
}

.MuiAvatar-root.friend-avatar{
    margin-top: 30px;
    margin-bottom: 30px;
}

.MuiCardMedia-root.itinerary-image{
    height: 140px;
}

.MuiPaper-root.MuiAppBar-root.MuiAppBar-colorPrimary.user-appBar {
    background-color: #282c34;
}